# --- .NET / C# / Visual Studio ---
*.user
*.suo
*.userosscache
*.sln.docstates
bin/
obj/
.vs/
.vscode/
.idea/

# --- React / Node.js (Dodato iz TimeSheet-ui) ---
node_modules/
dist/
dist-ssr/
*.local
logs
*.log
npm-debug.log*

# --- NuGet & OS ---
*.nupkg
packages/
.DS_Store
Thumbs.db
